@model ExamProject.Dtos.wiredItem
@{
    ViewData["Title"] = "ExamByHeader";
}

<style>
    .notValid{
         background-color:red;
         color:white;
    }
    .notValid::-webkit-input-placeholder {
            color: white;
     }
    #message{
        display:none;
    }
    .hidden{
        display:none;
    }
</style>


<h2 id="header">@Html.Raw(ViewBag.Exam.header)</h2>

 <p id="paragraph">@Html.Raw(ViewBag.Exam.paragraph)</p>
 <span id="postId" class="hidden">@ViewBag.id</span>
<form class="container" id="examCreateForm">
        <div class="row">
            @for (int i = 1; i <= 4; i++)
            {
                <div class="col-12">
                    <h3 class="text-center" style="margin:50px 0 30px 0;padding:10px 0; background:#d6d6d6;">@i. question</h3>
                </div>
                <div class="col-12">
                    <div class="form-group" onclick="clear(this)">
                        <input type="text" class="form-control" id="question-@i" name="@("question"+i)"   placeholder="@i. question">
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="@("option"+i+"A")" class="col-sm-1 col-form-label">A)</label>
                        <div class="col-sm-11 pl-0">
                            <input type="text" class="form-control" id="@("option"+i+"A")" name="@("option"+i+"A")" placeholder="answer the question" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="@("option"+i+"B")" class="col-sm-1 col-form-label">B)</label>
                        <div class="col-sm-11 pl-0">
                            <input type="text" class="form-control" id="@("option"+i+"B")" name="@("option"+i+"B")" placeholder="answer the question" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="@("option"+i+"C")" class="col-sm-1 col-form-label">C)</label>
                        <div class="col-sm-11 pl-0">
                            <input type="text" class="form-control" id="@("option"+i+"C")" name="@("option"+i+"C")" placeholder="answer the question" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="@("option"+i+"D")" class="col-sm-1 col-form-label">D)</label>
                        <div class="col-sm-11 pl-0">
                            <input type="text" class="form-control" id="@("option"+i+"D")" name="@("option"+i+"D")" placeholder="answer the question" />
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-fill  justify-content-center">
                    <div class="col-sm-6">
                        <select class="form-control" id="answer-@i">
                            <option value="" selected>Choose the right answer</option>
                            <option value="A">A Correct answer</option>
                            <option value="B">B Correct answer</option>
                            <option value="C">C Correct answer</option>
                            <option value="D">D Correct answer</option>
                        </select>
                    </div>

                </div>




            }
        </div>
       
        

        <div class="row mt-5">
         
           
                <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-success"> Create Quiz </button>
                </div>
              
                <div class="col-sm-12 text-center mt-3" id="message">
                    <div class="alert alert-danger" role="alert" >
                        cannot be left empty
                    </div>
                </div>
        
        </div>
        


</form>
      







@section Scripts{ 
    <script>
        $("#examCreateForm").submit(function (e) {
            e.preventDefault();
            var result=validation();
            if (!result) {
                return;
            }

            console.log(JSON.stringify({ id: 1, header: $("#header").html(), paragraph: $("#paragraph").html(), questions: result }));

            $.ajax({
                type: 'post',
                url: '/Exam/ExamCreate',
                data: JSON.stringify({ id: 1, header: $("#header").html(), paragraph: $("#paragraph").html(), questions: result }),
                contentType: 'application/json',
                success: function (data) {
                    console.log(data);
                },
                error: function (err) {
                    console.log(err);
                }


            })

        });

         $("input , select").change(function () {
            $(this).removeClass('notValid');
         })

        function validation() {
             
         
            var elems = document.querySelectorAll(".notValid");

            [].forEach.call(elems, function(el) {
                el.classList.remove("notValid");
            });

            var array = [];
            var isValid = true;
            var questionSelector = "#question-";
            var optionsSelector = "#option"; 
            var optionsSelectorEx = ['A', 'B', 'C', 'D'];
            var answer="#answer-"
            for (var i = 1; i <= 4; i++) {
                var obj = { question: "", options:[],answer };
                var value = $(questionSelector + i).val();
                if (value == "") {
                    $(questionSelector + i).addClass("notValid");
                    isValid = false;
                }
                obj.question = value;

                var valueAnswer = $(answer + i).val();
                console.log(valueAnswer);
                if (valueAnswer == "") {
                    
                      $(answer + i).addClass("notValid");
                    isValid = false;
                }
                 obj.answer = valueAnswer;
                for (var k = 1; k <=4; k++) {
                    var fullSelectorForOptions = optionsSelector + i + optionsSelectorEx[k - 1];
                    var value = $(fullSelectorForOptions).val();
               
                    if (value == "") {
                        $(fullSelectorForOptions).addClass("notValid");
                        isValid = false;
                    }
                    obj.options.push(value);

                }
                array.push(obj);
            }
             console.log(array);
            if (!isValid) {
                $("#message").show();
                return false;
            }
          
            return array;
        }



    </script>
}