
@model List<ExamProject.Dtos.ExamsForClient>

@{
    ViewData["Title"] = "Exams";
}
    <style>
        .row {
            color: black;
            margin-bottom: 25px;
            background-color: #eaeaea;
            padding: 20px 0;
        }
    </style>


        @{ 
            var i = 0;
        }
        @foreach (var item in Model)
        {
            <div class="row"><div class="col-sm-1">@(i + 1).</div><div class="col-sm-7"><label>@item.Header  </label></div><div class="col-sm-2">@item.CreationDate</div> <div class="col-sm-2"><a class="btn btn-success" asp-action="ExamSolve" asp-controller="Home" asp-route-id="@item.ExamId">Solve</a> &nbsp;&nbsp; <a class="btn btn-danger" asp-action="ExamDelete" asp-controller="Home" asp-route-id="@item.ExamId">Delete</a></div> </div>

          i++;
        }


   

